.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  width: 568px;
  height: 568px;
  background-color: #2F80ED;
  transform: rotate(-15deg);
  animation: rotacion 20s linear infinite 1s;
}